<header class="d-flex">
  <div class="head-bg" [ngStyle]="{'background-image': 'url(assets/img/piccolo-inc_tractor-header.jpg)'}"></div>
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-7">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <div class="slide-card-body">
              <h2 class="text-animate-1">{{ content.heroTitle }}</h2>
              <p class="text-muted text-animate-2">{{ content.heroContent }}</p>
            </div>
          </div>
        </div>
        <button class="scroll-down">
          {{ content.heroScroll }}
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 25.16 29.91" height="16px">
            <defs>
              <style>.cls-1{fill:none;}.cls-2{opacity:0.8;}.cls-3{clip-path:url(#clip-path);}.cls-4{fill:#fff;}</style>
              <clipPath id="clip-path" transform="translate(-5.96 -7.17)">
                <rect class="cls-1" x="-3.5" y="3.5" width="43.99" height="37" transform="translate(-3.5 40.5) rotate(-90)"/>
              </clipPath>
            </defs>
            <g id="Layer_2" data-name="Layer 2">
              <g id="Hero">
                <g id="Scroll_Down" data-name="Scroll Down">
                  <g class="cls-2">
                    <g class="cls-3">
                      <polygon class="cls-4" points="10.99 0 10.99 22.74 2.18 12.32 0 14.91 12.58 29.91 25.16 15 22.94 12.36 14.1 22.88 14.1 0 10.99 0"/>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="quick-info-wrapper">
    <ul class="quick-info">
      <li>
        <img src="assets/img/piccolo-inc_phone.svg">
        <p class="mb-0"><a href="tel:2707816021">(270) 781-6021</a></p>
      </li>
      <li>
        <img src="assets/img/piccolo-inc_location.svg">
        <p class="mb-0">7520 Louisville Road, Bowling Green, KY 42101</p>
      </li>
    </ul>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <img class="slide-card-head" src="./assets/img/piccolo-inc_about.jpg">
            <div class="slide-card-body">
              <h2>{{ content.questionsTitle }}</h2>
              <p class="text-muted"> {{ content.questionsContent }}<a href="tel:2707816021">(270) 781-6021</a>.</p>
              <!-- <div class="btn-wrapper">
                <a class="btn" routerLink="/drivers/faq/">
                  <span class="btn-text">{{ content.questionsCTA }}</span>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40.83 34.34" height="16px">
                    <defs>
                      <style>.cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#fff;}</style>
                      <clipPath id="clip-path" transform="translate(-9.79 -8.03)">
                        <rect class="cls-1" width="60.05" height="50.5" transform="translate(60.05 50.5) rotate(-180)"/>
                      </clipPath>
                    </defs>
                    <g id="Layer_2" data-name="Layer 2">
                      <g id="Hero">
                        <g id="Scroll_Down" data-name="Scroll Down">
                          <g class="cls-2">
                            <polygon class="cls-3" points="0 19.34 31.05 19.34 16.81 31.36 20.36 34.34 40.83 17.17 20.48 0 16.87 3.03 31.23 15.1 0 15.1 0 19.34"/>
                          </g>
                        </g>
                      </g>
                    </g>
                  </svg>
                </a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-auto">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <img class="slide-card-head" src="assets/img/piccolo-inc_clients.jpg">
            <div class="slide-card-body">
              <h2>{{ content.safetyTitle }}</h2>
              <p class="text-muted">{{ content.safetyContent }}</p>
              <ul class="doc-links">
                <li *ngFor="let link of content.safetyLinks"><a href="{{ link.link }}">{{ link.title }}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contact></app-contact>
