<header class="d-flex">
  <div class="head-bg" [ngStyle]="{'background-image': 'url(assets/img/piccolo-inc_tractor-header.png)'}"></div>
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-7">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <div class="slide-card-body">
              <h1 class="text-animate-1">Our Principles</h1>
              <h2 class="text-animate-2">Customer Value and Satisfaction</h2>
              <p class="text-muted text-animate-3">Our asset-lite based business model allows us to provide reliable transportation solutions at competitive rates, thereby helping our clients to reduce distribution expenses and improve their economic performance. We strive to exceed client expectations in terms of reliability, quality, service and value. Our client-centered organizational culture enables us to provide superior client satisfaction and build lifelong relationships with our customers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="quick-info-wrapper">
    <ul class="quick-info">
      <li>
        <img src="assets/img/piccolo-inc_phone.svg">
        <p class="mb-0"><a href="tel:2707816021">(270) 781-6021</a></p>
      </li>
      <li>
        <img src="assets/img/piccolo-inc_location.svg">
        <p class="mb-0">7520 Louisville Road, Bowling Green, KY 42101</p>
      </li>
    </ul>
  </div>
</header>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto my-4">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <!-- <img class="slide-card-head" src="assets/img/piccolo-inc_about.jpg"> -->
            <div class="slide-card-body">
              <h2>Employee Development</h2>
              <p class="text-muted">We encourage entrepreneurship, professional development and additional training. Employee loyalty and excellent performance is rewarded with annual cash bonuses and company ownership.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-auto my-4">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <!-- <img class="slide-card-head" src="assets/img/piccolo-inc_about.jpg"> -->
            <div class="slide-card-body">
              <h2>Economic Performance</h2>
              <p class="text-muted">We emphasize sustainable and profitable company growth that is financed with our internal resources. Our overall performance is measured in terms of income, cash flow, EVA, ROI, ROA, business growth, sales growth, employee productivity, customer satisfaction, and employee development.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-auto my-4">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <!-- <img class="slide-card-head" src="assets/img/piccolo-inc_clients.jpg"> -->
            <div class="slide-card-body">
              <h2>Relationship Model</h2>
              <p class="text-muted">We seek to establish long-term business relationships with our clients, thereby creating mutually beneficial cooperation. Our clients include retailers, general merchandise stores, manufactures, distributors and wholesalers, among others. Management Model: We believe in intelligent, responsible and proactive management that sets clear goals, provides decisive leadership and executes strategy. Our managers combine professional and academic expertise with hard work and entrepreneurial spirit.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-auto my-4">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <!-- <img class="slide-card-head" src="assets/img/piccolo-inc_clients.jpg"> -->
            <div class="slide-card-body">
              <h2>Management Model</h2>
              <p class="text-muted">We believe in intelligent, responsible and proactive management that sets clear goals, provides decisive leadership and executes strategy. Our managers combine professional and academic expertise with hard work and entrepreneurial spirit.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-auto my-4">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <!-- <img class="slide-card-head" src="assets/img/piccolo-inc_clients.jpg"> -->
            <div class="slide-card-body">
              <h2>Business Transparency</h2>
              <p class="text-muted">Corporate integrity is the foundation of our success and our only source of sustainable competitive advantage. Our business is based on transparent business practices and highest levels of integrity in all relationships with our stakeholders.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-auto my-4">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <!-- <img class="slide-card-head" src="assets/img/piccolo-inc_clients.jpg"> -->
            <div class="slide-card-body">
              <h2>Corporate Social Responsibility</h2>
              <p class="text-muted">Our strategy and corporate purpose is aligned to improve the well-being of our stakeholders and the society. Our CSR is not just lip service, but rather a comprehensive CSR strategy with tangible results. We donate a certain percentage of our net profits to higher education, NGO and charities.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contact></app-contact>
