<header class="d-flex">
  <div class="head-bg" [ngStyle]="{'background-image': 'url(assets/img/piccolo-inc_tractor-header.png)'}"></div>
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-7">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <div class="slide-card-body">
              <h2 class="text-animate-1">Our History</h2>
              <p class="text-muted text-animate-2">Piccolo Inc. is a privately held transportation and logistics company established in 2005 by two MBA graduates. From our beginning Piccolo Inc. has worked to provide timely, low-cost, and reliable transportation management services. We strive to help our clients manage an increasingly complex supply chain, reduce distribution expenses, and enable them to focus on their core competencies.</p>
            </div>
          </div>
        </div>
        <button class="scroll-down">
          Scroll Down
          <img src="assets/img/piccolo-inc_arrow-d.svg"/>
        </button>
      </div>
    </div>
  </div>
  <div class="quick-info-wrapper">
    <ul class="quick-info">
      <li>
        <img src="assets/img/piccolo-inc_phone.svg">
        <p class="mb-0"><a href="tel:2707816021">(270) 781-6021</a></p>
      </li>
      <li>
        <img src="assets/img/piccolo-inc_location.svg">
        <p class="mb-0">7520 Louisville Road, Bowling Green, KY 42101</p>
      </li>
    </ul>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto my-4">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <!-- <img class="slide-card-head" src="assets/img/piccolo-inc_about.jpg"> -->
            <div class="slide-card-body">
              <h2>Our Principles</h2>
              <p class="text-muted">Piccolo Inc. was intentionally founded on guiding principles that we still hold valuable today. These inculde Customer Value and Satisfaction, Employee Development, Economic Performance, a Relationship Model, Business Transparency, and Corporate Social Responsibility</p>
              <div class="btn-wrapper">
                <a class="btn" routerLink="/about/principles">
                  <span class="btn-text">Learn More</span>
                  <img src="assets/img/piccolo-inc_arrow-r.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-auto my-4">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <!-- <img class="slide-card-head" src="assets/img/piccolo-inc_clients.jpg"> -->
            <div class="slide-card-body">
              <h2>Our Team</h2>
              <p class="text-muted">Our team at Piccolo Inc. is composed of highly skilled and well-trained people who desire to work well for the benefit of every party involved.</p>
              <div class="btn-wrapper">
                <a class="btn" routerLink="/about/team">
                  <span class="btn-text">See Our Team</span>
                  <img src="assets/img/piccolo-inc_arrow-r.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contact></app-contact>
