<header class="d-flex">
  <div class="head-bg" [ngStyle]="{'background-image': 'url(assets/img/piccolo-inc_tractor-header.png)'}"></div>
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-7">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <div class="slide-card-body">
              <h2 class="text-animate-1">{{ content.heroTitle }}</h2>
              <p class="text-muted text-animate-2">{{ content.heroContent }}</p>
            </div>
          </div>
        </div>
        <button class="scroll-down">
          {{ content.heroScroll }}
          <img src="assets/img/piccolo-inc_arrow-d.svg"/>
        </button>
      </div>
    </div>
  </div>
  <div class="quick-info-wrapper">
    <ul class="quick-info">
      <li>
        <img src="assets/img/piccolo-inc_phone.svg">
        <p class="mb-0"><a href="tel:2707816021">(270) 781-6021</a></p>
      </li>
      <li>
        <img src="assets/img/piccolo-inc_location.svg">
        <p class="mb-0">7520 Louisville Road, Bowling Green, KY 42101</p>
      </li>
    </ul>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto my-4">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <!-- <img class="slide-card-head" src="assets/img/piccolo-inc_about.jpg"> -->
            <div class="slide-card-body">
              <h2>{{ content.principlesTitle }}</h2>
              <p class="text-muted">{{ content.principlesContent }}</p>
              <div class="btn-wrapper">
                <a class="btn" routerLink="/about/principles/">
                  <span class="btn-text">{{ content.principlesCTA }}</span>
                  <img src="assets/img/piccolo-inc_arrow-r.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-auto my-4">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <!-- <img class="slide-card-head" src="assets/img/piccolo-inc_clients.jpg"> -->
            <div class="slide-card-body">
              <h2>{{ content.teamTitle }}</h2>
              <p class="text-muted">{{ content.teamContent }}</p>
              <div class="btn-wrapper">
                <a class="btn" routerLink="/about/team/">
                  <span class="btn-text">{{ content.teamCTA }}</span>
                  <img src="assets/img/piccolo-inc_arrow-r.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contact></app-contact>
