<section class="d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-6">
        <div class="map-wrapper sr-card">
          <a href="https://www.google.com/maps?saddr=My+Location&daddr=7520+Louisville+Rd,+Bowling+Green,+KY+42101">
            <img id="googleMap" src="/assets/img/piccolo-inc_map.jpg">
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <div class="slide-card-body">
              <h2>{{ content.title }}</h2>
              <p class="text-muted">{{ content.content }}</p>
              <div class="contact-icon text-center mx-auto">
                <i class="fa fa-envelope-o fa-2x"></i>
                <a href="mailto:info@piccoloinc.com">info@piccoloinc.com</a>
              </div>
              <div class="contact-icon text-center mx-auto">
                <i class="fa fa-phone fa-2x"></i>
                <p><a href="tel:2707816021">(270) 781-6021</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
