<header class="d-flex">
  <div class="head-bg" [ngStyle]="{'background-image': 'url(assets/img/piccolo-inc_tractor-header.png)'}"></div>
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-7">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <div class="slide-card-body">
              <h2 class="text-animate-1">Supply Chain Challenges, Supply Chain Solutions.</h2>
              <p class="text-muted text-animate-2">Piccolo Inc. provides a number of integrated services offering to help your company build and manage an supply chain that is cost-effective, fast, agile, adaptable and aligned. Our transportation management solutions include Third-Party Transportation Management, Express Freight Management, and Professional and Financial Services</p>
            </div>
          </div>
        </div>
        <button class="scroll-down">
          Scroll Down
          <img src="assets/img/piccolo-inc_arrow-d.svg"/>
        </button>
      </div>
    </div>
  </div>
  <div class="quick-info-wrapper">
    <ul class="quick-info">
      <li>
        <img src="assets/img/piccolo-inc_phone.svg">
        <p class="mb-0"><a href="tel:2707816021">(270) 781-6021</a></p>
      </li>
      <li>
        <img src="assets/img/piccolo-inc_location.svg">
        <p class="mb-0">7520 Louisville Road, Bowling Green, KY 42101</p>
      </li>
    </ul>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto my-4">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <!-- <img class="slide-card-head" src="assets/img/piccolo-inc_about.jpg"> -->
            <div class="slide-card-body">
              <h2>Third-Party Transportation Management</h2>
              <p class="text-muted">Our asset-lite business model allows us to respond quickly to short-term fluctuations in supply and demand, maintain a flexible transportation environment and align the goals of our clients with that of carriers, while helping clients to reduce transportation expenses by 10% - 30%. Our services include:</p>
              <ul>
                <li>Analysis of current transportation strategy</li>
                <li>Bottleneck and problem analysis</li>
                <li>Formulation of optimal transportation strategy</li>
                <li>Carrier selection</li>
                <li>Transport operation management</li>
                <li>Confirmation of pick-up and delivery</li>
                <li>Freight audit and payment service</li>
              </ul>
              <!-- <div class="btn-wrapper">
                <a class="btn" routerLink="/principles">
                  <span class="btn-text">Learn More</span>
                  <img src="assets/img/piccolo-inc_arrow-r.svg">
                </a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-auto my-4">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <!-- <img class="slide-card-head" src="assets/img/piccolo-inc_clients.jpg"> -->
            <div class="slide-card-body">
              <h2>Express Freight Management</h2>
              <p class="text-muted">Piccolo Express Freight Management provides time-critical and reliable delivery of LTL and FTL at competitive rates. To schedule an Express Freight shipment, please email <a href="mailto:express@piccoloinc.com">express@piccoloinc.com</a> or call <a href="tel:270781-6021">270-781-6021</a>.</p>
              <div class="btn-wrapper">
                <a class="btn" routerLink="/contact">
                  <span class="btn-text">Contact Us</span>
                  <img src="assets/img/piccolo-inc_arrow-r.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-6 mx-auto my-4">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <img class="slide-card-head" src="assets/img/piccolo-inc_clients.jpg">
            <div class="slide-card-body">
              <h2>Warehousing and Distribution</h2>
              <p class="text-muted">Piccolo Inc. provides distribution and warehousing space at highly competitive rates and has the capabilities to manage the warehousing facilities. To receive more information about our warehousing services, please <a href="mailto:warehousing@piccoloinc.com">warehousing@piccoloinc.com</a> or call <a href="tel:270781-6021">270-781-6021</a>.</p>
              <div class="btn-wrapper">
                <a class="btn" routerLink="/clients">
                  <span class="btn-text">Book Load</span>
                  <img src="assets/img/piccolo-inc_arrow-r.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>

<app-contact></app-contact>
