<header class="d-flex">
  <div class="head-bg" [ngStyle]="{'background-image': 'url(assets/img/piccolo-inc_tractor-header.png)'}"></div>
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-7">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <div class="slide-card-body">
              <h2 class="text-animate-1">Supply Chain Problems, Supply Chain Solutions.</h2>
              <p class="text-muted text-animate-2">In the networked economy, the major supply chain imperative is collaboration and management of increasingly complex transportation networks and improvement of operational excellence.</p>
              <div class="btn-wrapper">
                <a class="btn" routerLink="/contact">
                  <span class="btn-text">Contact Us</span>
                  <img src="assets/img/piccolo-inc_arrow-r.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
        <button class="scroll-down">
          Scroll Down
          <img src="assets/img/piccolo-inc_arrow-d.svg"/>
        </button>
      </div>
    </div>
  </div>
  <div class="quick-info-wrapper">
    <ul class="quick-info">
      <li>
        <img src="assets/img/piccolo-inc_phone.svg">
        <p class="mb-0"><a href="tel:2707816021">(270) 781-6021</a></p>
      </li>
      <li>
        <img src="assets/img/piccolo-inc_location.svg">
        <p class="mb-0">7520 Louisville Rd., Bowling Green, KY 42101</p>
      </li>
    </ul>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <img class="slide-card-head" src="assets/img/piccolo-inc_about.jpg">
            <div class="slide-card-body">
              <h2>About Us</h2>
              <p class="text-muted">Piccolo Inc. is a privately held transportation and logistics company. Piccolo Inc. provides timely, low-cost, and reliable transportation management services that helps clients to manage an increasingly complex supply chain, reduce distribution expenses and enables them to focus on their core competencies.</p>
              <div class="btn-wrapper">
                <a class="btn" routerLink="/about">
                  <span class="btn-text">Learn More</span>
                  <img src="assets/img/piccolo-inc_arrow-r.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-auto">
        <div class="slide-card-wrapper">
          <div class="slide-card sr-card">
            <img class="slide-card-head" src="assets/img/piccolo-inc_clients.jpg">
            <div class="slide-card-body">
              <h2>Our Drivers</h2>
              <p class="text-muted">Piccolo Inc. is here to provide you with solutions to all your transportation and logistics needs. More resources for our drivers can be found by follwing the link below.</p>
              <div class="btn-wrapper">
                <a class="btn" routerLink="/drivers">
                  <span class="btn-text">See More Resources</span>
                  <img src="assets/img/piccolo-inc_arrow-r.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contact></app-contact>
